.footer { /* Stolen from: https://www.w3schools.com/howto/howto_css_fixed_footer.asp  */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

body {
    background-color: #3d3d3d;
}